/* =====================================================
   GLOBAL RESET & ROOT VARIABLES
===================================================== */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#ff2a2a;
    --text-color:#fff;
    --bg-color:#00002e;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

*::selection {
    background: var(--main-color);
    color:#fff;

}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* =====================================================
   HEADER & NAVBAR
===================================================== */

header {
    position: fixed;
    top: o;
    right: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: url(poza/34.jpg);
    background-size: cover;
    color: #404346;
}

.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* =====================================================
   SECTIONS GENERAL
===================================================== */

section {
    padding: 80px 17%;
}

/* =====================================================
   HOME SECTION
===================================================== */

.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.1rem;
    align-items: center;
    background: url(poza/34.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-img {
    max-width: 100%;
    width: auto;
    height: auto;
    
}
.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover {
	transform: scale(1.2);
	color: var(--text-color);
	background: var(--main-color);
}

/* =====================================================
   ABOUT SECTION
===================================================== */


.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.aboutt {
    display: grid;
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text span {
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2 {
    font-size: var(--h2-font);
}
.about-text p{
    margin: 0.8 rem 0 1.8rem;
    line-height: 1.7;
}


/* =====================================================
   HEADINGS
===================================================== */



.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
    font-weight: 600;
}

.heading h2 {
    font-size: var(--h2-font);
}



/* =====================================================
   MENU SECTION
===================================================== */


.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.box {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #469cddd0;
    padding: 20px;
    border-radius: 0.5rem;
}

.box-img {
    width: 220px;
    height: 220px;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box h2 {
    font-size: 1.3rem;
    color: var(--bg-color);
}

.box h3 {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10 px;
}

.box span {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
}



/* =====================================================
   SERVICES SECTION
===================================================== */



.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.s-box {
    text-align: center;
    padding: 20px 30 px;
}

.s-box img {
    width: 90px;
}

.s-box h3 {
    margin: 4px 0 10 px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.s-box p {
    line-height: 1.7;
}


/* =====================================================
   CALL TO ACTION (CTA)
===================================================== */


.cta {
    background: #469cddd0;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2 {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}


/* =====================================================
   FOOTER SECTION
===================================================== */



.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(last-child) {
    margin-bottom: 15px;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}



/* =====================================================
   MEDIA QUERIES
===================================================== */


@media (max-width: 1560px) {
    header{
        padding: 15px 40px;
    }

    :root {
        --big-font: 3.5rem;
        --h2-font:2rem;
    }
}

@media (max-width: 1140px) {
    section {
        padding: 50px 8%;
    }

    #menu-icon {
        display: initial;
        color: var(--text-color);
    }

    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #00002e;
        transition: .3s;
    }

    header .navbar.active {
        top: 70px;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
    }

    .col {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px 16px;
    }

    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        order: 2;
    }

    section {
        padding: 100px 7%;
    }
}

@media (max-width: 575px) {
    .col {
        width: 100%;
    }
}



/* =====================================================
   CUSTOM CONTENT SECTIONS (.texta, .headingc, .container etc.)
===================================================== */


.texta{
    padding: 100px 20%;
}

.headingc{
    text-align: center;
}

.headingc h2{
    font-size: 40px;
    color: #41f131;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.headingc p{
    color:#609656 ;
    font-size: 15px;
    line-height: 28px;
}

/* GRID CONTAINER FOR BOXES */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 5rem;
}

.in{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
}


/* BOXES (Planet Types etc.) */

.boxc{
    height: 340px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(211, 135, 36);
    transition: all 0.8s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxc:hover {
    transform: translateY(20px);
    opacity: 0.6;
    transition: all 0.5s ease;
}


/* BOX IMAGES WITH GRADIENTS */

.box1{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/soare.jpg) center center no-repeat;
    background-size: cover;
}  

.box2{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/planete1.jpg) center center no-repeat;
    background-size: cover;
}  
 

.box3{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/sateliti.jpg) center center no-repeat;
    background-size: cover;
}   


.box4{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/stelele.jpg) center center no-repeat;
    background-size: cover;
}   


.box5{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/planetepitice.jpg) center center no-repeat;
    background-size: cover;
}   


.box6{
    background: linear-gradient(to bottom, #000000 0%, #0000004d 50%, #000000b3 75%, #000 100%), url(poza/corpuri.jpg) center center no-repeat;
    background-size: cover;
}   



/* =====================================================
   MENU CONTAINERS 1 & 2 (with checkboxes for toggling)
===================================================== */



.menu-container1 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 1.5rem;
    align-items: center;
     
}

.menu-container2 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 1.5rem;
    align-items: center;
     
}


/* =====================================================
   SHOW / HIDE CONTENT (Checkbox Logic)
===================================================== */


#check1,#check2, #check3, #check4, #check5, #check11,#check12,#check13,#check14,#check15,#check16,#check17,#check18{
    display: none;
}

.content{
    display: none;
    transition: 0.5s linear;
}

label{
    display: inline-block;
    margin-top: 15px;
    color: #2aff83;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}


/* SHOW CONTENT WHEN CHECKED */

#check1:checked ~ .content,
#check2:checked ~ .content,
#check3:checked ~ .content,
#check4:checked ~ .content,
#check5:checked ~ .content,
#check11:checked ~ .content,
#check12:checked ~ .content,
#check13:checked ~ .content,
#check14:checked ~ .content,
#check15:checked ~ .content,
#check16:checked ~ .content,
#check17:checked ~ .content,
#check18:checked ~ .content{
    display: block;
}

/* HIDE LABEL WHEN CHECKED */

#check1:checked ~ label,
#check2:checked ~ label,
#check3:checked ~ label,
#check4:checked ~ label,
#check5:checked ~ label,
#check11:checked ~ label,
#check12:checked ~ label,
#check13:checked ~ label,
#check14:checked ~ label,
#check15:checked ~ label,
#check16:checked ~ label,
#check17:checked ~ label,
#check18:checked ~ label{
    visibility: hidden;
}

/* ADD "SHOW LESS" AFTER CHECK */

#check1:checked ~ label:after,
#check2:checked ~ label:after,
#check3:checked ~ label:after,
#check4:checked ~ label:after,
#check5:checked ~ label:after,
#check11:checked ~ label:after,
#check12:checked ~ label:after,
#check13:checked ~ label:after,
#check14:checked ~ label:after,
#check15:checked ~ label:after,
#check16:checked ~ label:after,
#check17:checked ~ label:after,
#check18:checked ~ label:after{
    content: "Arata mai putin";
    display: block;
    visibility: visible;
}




/* =====================================================
   IMAGE GALLERY SECTION (.cont)
===================================================== */



.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.cont .head{
    width: 50%;
    padding-bottom: 50px;
}

.cont .headh3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.cont .head h3 span{
    font-weight: 100;
}

.cont .bo{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.cont .bo .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

  .cont .bo .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
  
.cont .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px ;
    border-radius: 5px;
}
  
.cont .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
}
  

/* RESPONSIVE GALLERY */

@media only screen and (max-width: 769px){
	.cont.box{
     		flex-direction: column;
	}
  
	.cont .box .dream{
    		width: 100%;
	}  
}
  
@media only screen and (max-width: 643px){
	.cont .head{
		width: 100%;
	}

	.cont .head h3{
		font-size: 1em;
	}
}